
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
fashion-mvp-client/node_modules
fashion-mvp-client/.pnp
fashion-mvp-client/.pnp.js

fashion-mvp-server/node_modules

# testing
fashion-mvp-client/coverage

# production
fashion-mvp-client/build

# misc
fashion-mvp-client/.DS_Store
fashion-mvp-client/.env
fashion-mvp-client/.env.local
fashion-mvp-client/.env.development.local
fashion-mvp-client/.env.test.local
fashion-mvp-client/.env.production.local

fashion-mvp-server/.env

fashion-mvp-client/npm-debug.log*
fashion-mvp-client/yarn-debug.log*
fashion-mvp-client/yarn-error.log*

fashion-mvp-server/logs
fashion-mvp-server/dist